DOMAIN=127.0.0.1:8026
STACK_NAME=shorturl
PROJECT_NAME=shorturl
SECRET_KEY=123456

# Backend
DOCKER_IMAGE_BACKEND=backend
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:4200", "http://localhost:3000", "http://localhost:8080", "https://localhost", "https://localhost:4200", "https://localhost:3000", "https://localhost:8080", "http://dev.api_quote.com", "https://stg.api_quote.com", "https://api_quote.com", "http://local.dockertoolbox.tiangolo.com", "http://localhost.tiangolo.com"]


USERS_OPEN_REGISTRATION=False
INSTALL_DEV=True

# Postgres
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=test
POSTGRES_DB=fondeadora

# Redirect URL
REDIRECT_ENABLED=False
